.login-indicator
  - if employee_signed_in?
    Welcome
    %b
      = link_to current_employee.show_name, 'myaccount_employees_path'
    |
    = link_to('登出', destroy_employee_session_path, :method => :delete)
  - else
    = link_to('登录', new_employee_session_path)

